{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Título de la página -->
    <title>Login | Finance-Tracker</title>

    <!-- Cargamos los estilos globales -->
    <link rel="stylesheet" href="{% static 'finance/style.css' %}">
</head>

<body>

  <!--
    auth-container:
    - Ocupa toda la pantalla
    - Centra el formulario horizontal y verticalmente
  -->
  <div class="auth-container">

    <!--
      auth-card:
      - Tarjeta visual del login
      - Fondo oscuro + sombra premium
    -->
    <div class="auth-card">

      <!-- Título del formulario -->
      <h1>Iniciar sesión</h1>

      <!--
        Formulario procesado por Django LoginView
      -->
      <form method="post">
        {% csrf_token %}

        <!-- Campos usuario y contraseña -->
        {{ form.as_p }}

        <!-- Botón submit -->
        <button type="submit">Login</button>
      </form>

    </div>
  </div>

</body>
</html>
